.checkout-container{
    padding: 20px;
}

.cart-container{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.cart-row{
    border-top: 1px solid rgb(179, 179, 179);
    padding-top: 20px;
    min-height: 250px;
}

.cart-img{
    max-height: 200px;
    max-width: 200px;
    height: 100%;
}

.total-display{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.we-accept-img{
    width: 100%;
    max-width: 250px;
}

.shipping-address-container{
    padding: 20px;
}