*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background-color: rgb(240, 239, 239)!important;
}

.thankyou-content{
    background-color: rgb(240, 239, 239)!important;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.payment-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 80%;
}

.redirect-text{
    font-size: 20px;
}