<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>

    <%- include("./common/plugins.ejs") %>

    <!-- Data tablets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="style/product-info.css">
</head>
<body>
    <%- include("./common/header.ejs") %>

    <div class="body-content">
        <div class="product-info-container">
            <div class="row">
                <div class="product-img col-sm-4">
                    <div class="product-img-container">
                        <img src="images/apple-macbook-air-13-m1-8gb-256gb-ssd-laptop-min.jpg" alt="">
                    </div>
                </div>

                <div class="product-info col-sm-8 mt-3">
                    <div class="product-name">
                        Apple Watch Series 3 GPS 38mm Space Gray Aluminum Case Black Sport Band MTF02LLA
                    </div>

                    <div class="product-condition mt-3">
                        <span>Condition: <strong>Used</strong> </span><br>
                        <span>Time Left: <strong>6d 17h | Monday, 9.00 AM</strong></span>
                    </div>

                    <div class="place-bid mt-3">
                        <div class="row">
                            <div class="col mb-3">
                                <div class="current-bid">
                                    <span>Current Bid:  <strong id="current-bid-amount"></strong></span> 
                                </div>
            
                                <div class="bid-input-container">
                                    <input type="number" class="form-control" id="bid-input" placeholder="Bid Amount" min="0" step="1" onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');">
                                    <span class="text-secondary pl-1" id="place-bid-message"></span>
                                    <div class="text-danger ml-1" id="error-prompt"></div>
                                    <br>
                                    <button class="btn btn-primary bid-btn mt-3" onclick="submitNewBidding()">Place Bid</button>
                                </div>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>

            <div class="bid-ranking mt-3">
                <div class="bid-ranking-title">
                    <h2>Bid History</h2>
                </div>

                <div id="submit-alert">

                </div>

                <marquee id="outbid-alert" width="100%" direction="left" height="auto" class="text-danger" >
                </marquee>

                <!-- Outbid audio -->
                <audio src="audio/outbid_effect.mp3" id="outbid-audio"></audio>

                <table class="table table-bordered" id="bidding-history-table">
                    <thead>
                      <tr class="bg-light">
                        <th scope="col">Rank</th>
                        <th scope="col">Bidder</th>
                        <th scope="col">Bid Amount</th>
                        <th scope="col">Bid Time</th>
                      </tr>
                    </thead>

                    <tbody id="bidding-list">
                    
                    </tbody>
                  </table>
            </div>  

            <div class="product-description">
                <div class="product-description-header mb-3">
                    <h3>Product Description</h3>
                </div>

                <div class="product-description-display">
                    VILLANO. A bed sheet set that inspired by natural and artistic Design. We brings life to your bedroom and give you better night’s sleep.
                    <br><br>
                    •100%  Natural Cotton
                    <br>
                    •Suitable for everyone
                    <br>
                    •Fabric stays Soft & Cold
                    <br>
                    •Hypoallergenic
                    <br>
                    •Attractive and good Quality
                    <br>
                    •600 Thread Count
                </div>
            </div>


        </div>
    </div>

    <%- include("./common/footer.ejs") %>
</body>
</html>

<script>
    //Check Sign In
    checkSignIn();

    //Display bidding history
    displayBidList();
</script>