<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>

    <%- include("./common/plugins.ejs") %>

    <!-- CSS -->
    <link rel="stylesheet" href="style/common-pages.css">

</head>
<body>
    <%- include("./common/header.ejs") %>

    <div class="body-content">
        <div class="common-container text-center">
            <div class="common-header mt-3">
                <h1>Terms & Conditions</h1>
            </div>

            <div class="common-content mt-3">
                <div class="common-content-paragraph">

                    <p class="common-paragraph text-left pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                    </p>

                    <p class="common-paragraph text-left pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                    </p>

                    <p class="common-paragraph text-left pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                    </p>

                    <p class="common-paragraph text-left pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                    </p>

                    <p class="common-paragraph text-left pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam iusto rem? Hic est reprehenderit 
                        corporis veniam nesciunt soluta, ipsa libero perspiciatis in amet quis nobis voluptatem quas, aliquid aut.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <%- include("./common/footer.ejs") %>
</body>
</html>
