<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You For Your Payment </title>

    <%- include("./common/plugins.ejs") %>

    <!-- CSS -->
    <link rel="stylesheet" href="style/thankyou.css">
</head>
<body>
    <div class="thankyou-content">
        <div class="payment-box text-center">
            <span class="text-success" style="font-size: 100px;"><i class="fas fa-check-circle"></i></span>
            <h1>Payment Successful! </h1>
            <h2>Your Order Has Been Received.</h2>
            <h2>Thank you for your payment, we are processing your payment now!</h2>
            <p class="redirect-text">click <a href="bidder-profile?payment-success">here</a> to check your order now.</p>
        </div>
    </div>

</body>
</html>