<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You For Your Payment </title>

    <%- include("./common/plugins.ejs") %>

    <!-- CSS -->
    <link rel="stylesheet" href="style/thankyou.css">
</head>
<body>
    <div class="thankyou-content">
        <div class="redirect-message text-center">
            You will be redirected back to Home Page in <span id="redirect-second">5</span> Seconds
        </div>
        <div class="payment-box text-center">
            <span class="text-success" style="font-size: 100px;"><i class="fas fa-check-circle"></i></span>
            <h1>YOUR ORDER HAS BEEN RECEIVED</h1>
            <h2>Thank you for your payment, it’s processing</h2>
            <h3 class="mb-3">Your order # is: 100000023</h3>
            
            <p>You will receive an order confirmation email with details of your order and a link to track your process.</p>
        </div>
    </div>

    <script>
        var redirect_seconds = 5;
        var redirect_alert = document.getElementById("redirect-second");
        
        setInterval(function(){ 
            redirect_seconds--;
            redirect_alert.innerHTML = redirect_seconds;

            if(redirect_seconds == 0){
                window.location.href = "home.html";
            }
        }, 1000);
    </script>
</body>
</html>