<footer class="">
    <div class="row footer-row">
        <div class="footer-col col-lg-3 mb-3">
            <h2>Help Centre</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <a href="#">About Us</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Privacy and Policy</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Contact Us</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Help</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Terms & Conditions</a>
                </div>
            </div>
        </div>

        <div class="footer-col col-lg-3 mb-3">
            <h2>Bidder</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <a href="#">Bidder Login</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Bids Items</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Bidder Profile</a>
                </div>

            </div>
        </div>

        <div class="footer-col col-lg-3 mb-3">
            <h2>Auctioneer</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <a href="#">Auctioneer Login</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Auctioneer Items</a>
                </div>

                <div class="footer-nav-container">
                    <a href="#">Auctioneer Profile</a>
                </div>
            </div>
        </div>

        <div class="footer-col col-lg-3 mt-3">
            <h2>About Us</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <span class="footer-contact-info">No.23 Jalan 23, Selayang Baru 68100 Batu Caves, Selangor</span>
                </div>

                <div class="footer-nav-container">
                    <span class="footer-contact-info">Email : hci-online-auction@gmail.com</span>
                </div>

                <div class="footer-nav-container">
                    <span class="footer-contact-info">Call: hci-online-auction@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-disclaimer text-light text-center p-2">
    <span>@2021 Online Auction Designed by Kenny's Team. All right reserved.</span>
</div>