<footer class="">
    <div class="row footer-row">
        <div class="footer-col col-lg-3 mb-3">
            <h2>Help Centre</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <a href="about-us">About Us</a>
                </div>

                <div class="footer-nav-container">
                    <a href="privacy">Privacy and Policy</a>
                </div>

                <div class="footer-nav-container">
                    <a href="contact-us">Contact Us</a>
                </div>

                <div class="footer-nav-container">
                    <a href="help">Help</a>
                </div>

                <div class="footer-nav-container">
                    <a href="terms">Terms & Conditions</a>
                </div>
            </div>
        </div>

        <div class="footer-col col-lg-3 mb-3">
            <h2>Bidder</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <a href="login">Bidder Login</a>
                </div>

                <div class="footer-nav-container">
                    <a href="home">Bids Items</a>
                </div>

                <div class="footer-nav-container">
                    <a href="bidder-profile">Bidder Profile</a>
                </div>

            </div>
        </div>

        <div class="footer-col col-lg-3 mb-3">
            <h2>Auctioneer</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <a href="login">Auctioneer Login</a>
                </div>

                <div class="footer-nav-container">
                    <a href="home">Auctioneer Items</a>
                </div>

                <div class="footer-nav-container">
                    <a href="auctioneer-profile">Auctioneer Profile</a>
                </div>
            </div>
        </div>

        <div class="footer-col col-lg-3 mt-3">
            <h2>About Us</h2>

            <div class="footer-nav">
                <div class="footer-nav-container">
                    <span class="footer-contact-info">No.23 Jalan 23, Selayang Baru 68100 Batu Caves, Selangor</span>
                </div>

                <div class="footer-nav-container">
                    <span class="footer-contact-info">Email : hci-online-auction@gmail.com</span>
                </div>

                <div class="footer-nav-container">
                    <span class="footer-contact-info">Call: hci-online-auction@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-disclaimer text-light text-center p-2">
    <span>@2021 Online Auction Designed by Kenny's Team. All right reserved.</span>
</div>